body {
    margin: 0;
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.4;
    background-color: #EEEEEE;
}

header {
    background-image: url("libros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:0;
}

.site-title-bar {
    background-color: rgba(0, 191, 166, 0.9);
    position: fixed;
    width: 100%;
    color: white;
    /*background: #00bfa6;*/
    /*opacity: 0.8;*/
    /*box-shadow: 2px 2px 5px #ffffff;*/
}

.login-section {
    background-color: rgba(0, 0, 0, 0.1);
    width:50%;
    display:grid;
    grid-template-columns: 3fr 3fr 1fr;
    padding: 1rem 0.5rem 0 0;
    text-align:center;
}

.login-section-responsive{
    display:none;
}

.input-text {
    height: 24px;
    margin-left: 0.8rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: #EEEEEE;
    border-bottom: 1px #E0E0E0 solid;
}

.input-text::placeholder {
    color: #E0E0E0;
}

.input {
    margin: 0 auto;
    display: flex;
}

.login-section:hover{
    background-color: rgba(0, 0, 0, 0.2);

}

.login-section a {
    font-size: 12px;
    color: #E0E0E0;
}

.login-section a:hover{
    color: #6dd2bf;
}

.login-section button {
    width: 80%;
    border: none;
    background-color: #ddf4f0;
    padding: 0.3rem 0;
    cursor: pointer;
    color: #757575;
    border-radius: 0px;
    outline: none;
}

.login-section button:hover {
    background-color: #a9e3d8;
    color: rgba(250,250,250,0.9);
}

.fa-user, .fa-lock {
    color: rgba(250,250,250,0.9);
}

.container {
   /* width: 90%;*/
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0);
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.site-search {
    background-color: rgba(0, 191, 166, 0.02);
    padding: 9.4rem 0rem 4rem 0rem;
    text-align:center;
    color: white;
}

.site-search-background {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

.search-input-button button {
    border: none;
    border-radius: 0px;
    height: 48px;
    padding: 0.25rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #00bfa6;
    color: rgba(250,250,250,0.9);
    outline: none;
}

.search-input-button button:hover{
    background-color: #00b092;
    color: rgba(250,250,250,0.9);
}

.search-input-button input {
    border: none;
    border-radius: 0px;
    height: 40px;
    width: 60%;
    padding: 0.25rem 1rem;
    outline: none;
    font-family: 'Ubuntu',sans-serif;
    font-size: 1rem;
}

.most-relevant {
    background-color: #EEEEEE;
    padding: 0.5rem 0;
    border-bottom: 1px solid #9E9E9E;
}

.most-relevant h3{
    font-family: 'Ubuntu',sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #616161;
}

.list-books {
    background-color: #EEEEEE;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}


.book-element {
    /*background-color: #F5F5F5;*/
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 300;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #BDBDBD;
}

.book-element img{
    width:30%;
}

.book-element section{
    padding: 0 0 0 1rem;
}

.book-element h2 {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    color: #009474;
}

/*.book-element h2:hover {
    color: #00563a;
}*/

.book-element h3 {
    padding: 0;
    margin: 0.2rem 0;
    font-size: 1rem;
    color: #616161;
}

.book-element article {
    padding: 1rem 0;
    margin: 0.2rem 0;
    font-size: 0.9rem;
    color: #424242;
}

